# 临时文件
*.swp
tmp*
tmp/

# 大文件
audio/
books/

# 原始笔记 md 文件
booknotes/notes*.md
csbooknotes/notes*.md

# 涉及隐私文件
business/
finance/
findebook/myID.html
neuroscience/
newstv/pdf/
newstv/historyNews.html
offline/
projects/
tools/jobs.html