# 临时文件
*.swp
tmp*
tmp/

# 大文件
audio/
video/
books/
music/audio
music/video

# 原始笔记 md 文件
booknotes/notes*.md
csbooknotes/notes*.md
coursenotes/course*.md
newstv/newstv*.md
music/*.md

# 涉及隐私文件
business/business.html
business/bsnss*
business/*.md
business/icon
finance/
findebook/myID.html
neuroscience/
newstv/pdf/
newstv/historyNews.html
offline/
projects/
tools/jobs.html