html {
	color: #000;
	background: #f1e5c9;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	height: 100%;

	scroll-behavior: smooth;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	/*
	同时声明中文字体的字体名称（英文）和显示名称（中文）
	主体使用无衬线字体，更清晰
	*/
	font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
	color: #333;
}

p {
	margin: 0 0 0.5em;
	line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3em;
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.8em;
	text-align: center;
}

h3 {
	font-size: 1.6em;
	margin: 0.5em 0 0.25em;
	padding-left: 0.25em;
	/*
	border-left: 6px solid #ff7e79;
	border-bottom: 1px solid #ff7e79;
	background: linear-gradient(to right, rgba(255, 126, 121, 1), 10%, rgba(255, 126, 121, 0));
	*/
	background: linear-gradient(to right, rgba(255, 126, 121, 1), 10%, rgba(255, 126, 121, 0));
}

h4 {
	font-size: 1.4em;
	margin: 0.4em 0 0.25em;
	padding-left: 0.25em;
	border-left: 0.25em solid #ffcccc;
	border-bottom: 1px solid #ffcccc;
}

h5 {
	font-size: 1.2em;
	padding-left: 0.25em;
	border-left: 0.2em solid #ffcc99;
}

h6 {
	font-size: 1em;
}

h3 img,
h4 img,
h5 img,
table td img,
li img {
	vertical-align: middle;
}

li img {
	width: 20px;
	height: 20px;
}



/* ======== 链接 ======== */

a {
	text-decoration-color: #a3a3a3;
	text-decoration-thickness: 2px;
	/*调整下划线离文字距离*/
	text-underline-offset: 0.25em;
}

/*未访问过的链接*/
a:link {
	color: #333;
}

/*已访问的链接*/
a:visited {
	color: #7c7c7c;
}

a:hover,
a:active {
	/*#9e0000*/
	color: #000;
	text-decoration-color: #da5e0c;
}

/* 这是一个改变背景色的动画特效，目前没有用上
a.btn {
	/*背景变化：关键点，设置背景高度为原件的2倍，渐变色均分
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, transparent 50%, #ff9c6e 50%);
	background-position: top;
	/*背景变化：添加过渡动画
	transition: all 0.25s ease;
}

a.btn:hover {
	/*背景变化：背景位置上移，露出下半部分原本隐藏的颜色
	background-position: bottom;
}
*/

/* ======== 表格 ======== */
table {
	/*居中*/
	margin: 0 auto;
	color: #333333;
	border-collapse: collapse;
}

th,
td {
	border: #666666 1px solid;
}

th {
	background-color: #dedede;
	color: #3b3b3b;
	text-align: center;
	font-weight: bold;
}




/* ======== 列表 ======== */

ul li,
ol li,
dl dd {
	margin-left: 1em;
	margin-bottom: 0.25em;
	line-height: 1.4em;
	list-style-position: inside;
}

dl dt {
	font-weight: bold;
	margin: 0.5em 0;
}




/* ======== 插入封面图 ======== */

table.covertitle {
	border: none;
	max-width: 90%;
	/*列宽固定为设置值，不根据内容调整*/
	table-layout: fixed;
}

table.covertitle td {
	border: none;
}

table.covertitle td:nth-child(1) {
	padding: 20px 5px 0px;
	width: 20%;
}

table.covertitle td:nth-child(2) {
	width: 80%;
}

table.covertitle img {
	max-width: 240px;
}




/* ======== 插入我的评价 ======== */
div.mycomment {
	font-size: smaller;

	padding: 1em 1em 0;
	margin: 0.75em 5%;
	background-color: #e5eecc;

	border: solid 2px #8ca86d;
	border-radius: 30px;
}

div.mycomment img {
	max-height: 10em;
}













/* ======== 其他杂项 ======== */

/* 内容选中后背景浅粉色 
	background-color: #fbb;
*/
::selection {
	background-color: #ccff99;
}


/* 水平线分割线 */
/* 普通实线风格
margin: 0.8em 0;
border: none;
border-bottom: 1px solid #cfcfcf;
height: 10px;
*/
/* 两端渐变风格 */
hr {
	border: 0;
	padding-top: 1px;
	background: linear-gradient(to right, transparent, #d0d0d5, transparent);
	margin: 1em 0;
}


/* 网站整体变灰色 */
/* html {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
} */