@charset "utf-8";
@import "css.css";
@import "toc.css";

body {
	font-size: 18pt;
	height: 100%;
}

/* 水平线分割线 */
hr {
	margin-bottom: 0.8em;
}

/*笔记中的普通图片*/
img {
	/* 必须同时指定block才能让居中生效 */
	margin: 0 auto 15px;
	display: block;

	max-width: 1000px;
}

/*笔记中的普通表格*/
table {
	max-width: 80%;
	font-size: smaller;
}

th,
td {
	padding: 5px;
}

dl,
ol,
ul {
	margin-bottom: 1em;
	padding-left: 5%;
	line-height: 1.8;
}

p {
	margin: 0 0 1em;
	line-height: 1.8;
	/*段落使用衬线字体，更好看*/
	font-family: Georgia, Arial, "Microsoft YaHei", "微软雅黑", serif;
}

/* 块/段落引用 */
blockquote {
	font-size: 0.8em;
	color: #666;
	border-left: 2px solid #c9c9c9;
	padding-left: 1em;
	margin: 1em 3em 1em 2em;
}

blockquote p {
	margin: 0 0 1em;
	line-height: 1.8;
}

strong,
dfn {
	font-weight: 700;
}

em,
dfn {
	font-style: italic;
	font-weight: 400;
}

del {
	text-decoration: line-through;
}

code {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90%;
}

p>code {
	color: #c7264e;
	background-color: #f9f2f4;
	font-size: .95em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}




/* ======== 笔记里插入封面图 ======== */

table.covertitle {
	border: none;
	max-width: 90%;
	/*列宽固定为设置值，不根据内容调整*/
	table-layout: fixed;
}

table.covertitle td {
	border: none;
}

table.covertitle td:nth-child(1) {
	padding: 20px 5px 0px;
	width: 20%;
}

table.covertitle td:nth-child(2) {
	width: 80%;
}

table.covertitle img {
	max-width: 240px;
}




/* ======== 笔记里插入我的评价 ======== */
div.mycomment {
	font-size: smaller;

	padding: 20px 20px 5px 30px;
	margin: 20px 5%;
	background-color: #e5eecc;

	border: solid 2px #8ca86d;
	border-radius: 30px;
}

div.mycomment img {
	max-width: 90%;
}