@charset "utf-8";
@import "css.css";
@import "toc.css";

body {
	font-size: 18pt;
	height: 100%;
	padding: 0;
}

/*
h1 {
	/*这个属性如果不定义的话，在md转html的时候会莫名给赋值，导致h1下面出现一条线，所以这里定义一下
	好像又不存在这个问题了，就先注释掉了吧
border-bottom-style: none;
}
*/

/* 水平线分割线 */
hr {
	margin-bottom: 0.8em;
}

/*笔记中的普通图片*/
img {
	/* 必须同时指定block才能让居中生效 */
	margin: 0 auto 15px;
	display: block;

	max-width: 1000px;
}

/*笔记中的普通表格*/
table {
	/*居中*/
	max-width: 80%;
	font-size: smaller;
}

th,
td {
	background-color: transparent;
	border: solid rgb(80, 80, 80) 1px;
	padding: 5px;
}

th {
	background-color: #dedede;
	text-align: center;
	font-weight: bold;
}

dl,
ol,
ul {
	margin-bottom: 1em;
	padding-left: 5%;
	line-height: 1.8;
}

p {
	margin: 0 0 1em;
	line-height: 1.8;
	/*段落使用衬线字体，更好看*/
	font-family: Georgia, Arial, "Microsoft YaHei", "微软雅黑", serif;
}

/* 块/段落引用 */
blockquote {
	font-size: 0.9em;
	line-height: 1.5;
	position: relative;
	color: #666;
	border-left: 2px solid #fbb;
	padding-left: 1em;
	margin: 1em 3em 1em 2em;
}

blockquote p {
	margin: 0 0 1em;
}

strong,
dfn {
	font-weight: 700;
}

em,
dfn {
	font-style: italic;
	font-weight: 400;
}

del {
	text-decoration: line-through;
}

code {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90%;
}

p>code {
	color: #c7264e;
	background-color: #f9f2f4;
	font-size: .95em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

figure {
	margin: 1em 0;
}

figcaption {
	font-size: 0.75em;
	padding: 0.5em 2em;
	margin-bottom: 2em;
}

figure img {
	margin-bottom: 0px;
}

ol p,
ul p {
	margin-bottom: 0px;
}

ol#footnotes {
	font-size: 0.95em;
	padding-top: 1em;
	margin-top: 1em;
	margin-left: 0;
	border-top: 1px solid #eaeaea;
	counter-reset: footer-counter;
	list-style: none;
	color: #555;
	padding-left: 5%;
	margin: 20px 0;
}

ol#footnotes li {
	margin-bottom: 10px;
	margin-left: 16px;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}

ol#footnotes li:before {
	content: counter(footer-counter) ". ";
	counter-increment: footer-counter;
	font-weight: 800;
	font-size: .95em;
}

@keyframes highfade {
	0% {
		background-color: none;
	}

	20% {
		background-color: yellow;
	}

	100% {
		background-color: none;
	}
}

@-webkit-keyframes highfade {
	0% {
		background-color: none;
	}

	20% {
		background-color: yellow;
	}

	100% {
		background-color: none;
	}
}

a:target,
ol#footnotes li:target,
sup a:target {
	animation-name: highfade;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: highfade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

a:target {
	border: 0;
	outline: 0;
}




/* ======== 笔记里插入我的评价 ======== */
div.mycomment {
	font-size: smaller;

	padding: 20px 20px 5px 30px;
	margin: 40px 5%;
	background-color: #e5eecc;

	border: solid 2px #8ca86d;
	border-radius: 30px;
}